/*
Lab01
Homework Assignment 1: Recipe
Created: June 26, 2018
*/

body{
    background-image: url("https://i.imgur.com/SEoKrUf.jpg");
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}

.heading span{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, "sans-serif";
    text-align: left;
    text-decoration-line: underline;
    font-size: 18pt;
    letter-spacing: 0.25em;
}

.heading.title {
    text-align: center;
}

.heading.title span {
    font-size: 22pt;
}

div.container {
    border-bottom: 2px solid #b9b9b9;
    padding-top: 20px;
    padding-bottom: 20px
}

ul.basic-list {
    list-style-type: none;
    padding-left: 0;
}

ul.cake-list {
    list-style-image: url('https://i.imgur.com/A3leyEb.gif');
}

ul.strong-list {
    list-style-type: decimal;
}

.user-comments {
    padding-left: 40px;
    padding-right: 40px;
    font-style: italic;
}
.comment{
    background-color: #FFFFA8;
    margin-top: 20px;
}

a {
    color: #A4A400;
}

abbr {
    text-decoration-style: solid;
}

.links.basic-list {
    text-decoration-line: underline;
}

.links {
    padding-top: 20px;
    padding-bottom: 20px;
}

.line-through {
    text-decoration:line-through;
}

div.footer {
    text-align: right;
    font-family: monospace;
}