body{
    background-color: blueviolet;
    font-weight: bold;
    background-image: url("../images/silverware.jpg");

}
p{
    color: white;
}
strong
{
    color: darkslategray;
}
h1
{
    text-align: center;
background-color: lightgray;


}
h2
{
    background-color: lightgray;
}